@model IEnumerable<ShoeStore.Models.Shoe>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Twój koszyk";
}

<div class="container">
    <h1 class="my-4">Twój koszyk</h1>

    <table class="table">
        @foreach (var shoe in Model)
        {
            <tr>
                <td>@shoe.Name</td>
                <td>@shoe.Description</td>
                <td>@shoe.Price zł</td>
                <td>Rozmiar: @shoe.Size</td>
                <td>
                    <form action="/Cart/RemoveFromCart/@shoe.Id" method="post">
                        <button type="submit" class="btn btn-danger">Usuń z koszyka</button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <a href="/Shoe/Index" class="btn btn-success">Wróć do sklepu</a>
</div>
