@model IEnumerable<ShoeStore.Models.Shoe>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Strona główna";
}

<div class="container">
    <h1 class="my-4">Sklep z obuwiem</h1>

    <div class="row">
        @foreach (var shoe in Model)
        {
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">@shoe.Name</h4>
                        <p class="card-text">@shoe.Description</p>
                        <p class="card-text">@shoe.Price zł</p>
                        <p class="card-text">Rozmiar: @shoe.Size</p>
                        <form action="/Cart/AddToCart/@shoe.Id" method="post">
                            <button type="submit" class="btn btn-primary">Dodaj do koszyka</button>
                        </form>

                    </div>
                </div>
            </div>
        }
    </div>

    <a href="/Cart/Index" class="btn btn-success">Przejdź do koszyka</a>
</div>

<script>
    function addToCart(id) {
        fetch('/api/shoes/addtocart/' + id, {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    alert('Produkt dodany do koszyka!');
                } else {
                    alert('Wystąpił błąd podczas dodawania produktu do koszyka.');
                }
            });
    }
</script>
